page-obituary {

.bg{ 
	 
	 border: 1px solid green;
	 padding: 10px;
	}
	.txt{
	width: 100%;
	margin-top: 3px;
	padding: 3px;
	border: 1px solid green;
	background-color: white
	}
	.button{
	margin-top: 10px;
	align-content: center;
	background-color: green;
	align-items: center
	}

}
