page-home {
.bg{ 
	 
	 border: 1px solid purple;
	 padding: 10px;
	 background-color: lightgreen
	}
	.txt{
	width: 100%;
	margin-top: 3px;
	padding: 3px;
	border: 1px solid peru;
	background-color: lightgreen
	}


}
